@model List<Employee_Survey.Domain.Test>
<h2>Tests</h2>
<a class="btn btn-success" href="/Tests/Create">Create</a>
<table class="table mt-3">
    <thead><tr><th>Title</th><th>Duration</th><th>Pass</th><th>Skill</th><th>Action</th></tr></thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Title</td>
                <td>@t.DurationMinutes</td>
                <td>@t.PassScore</td>
                <td>@t.SkillFilter</td>
                <td>
                    <form method="post" action="/Tests/AssignToUser">
                        <input type="hidden" name="testId" value="@t.Id" />
                        <input class="form-control form-control-sm d-inline" style="width:160px" name="userId" placeholder="userId (vd: u-emp)" />
                        <button class="btn btn-sm btn-primary">Assign</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
